.dialogActions button {
    color: #dead59;
    border-color: #dead59;
    transition: background-color 0.3s, color 0.3s;
}

.dialogActions button:hover {
    background-color: #dead59;
    color: #1a1a1a;
}
